#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}

/* My added classes */

h1 {
  text-shadow: 4px 3px 2px #AB16CE;
}

h2 {
  text-shadow: 4px 3px 2px red;
}

.h2-user-welcome {
  color: black;
}

.user-welcome-nickname {
  color: white;
}


.home-playlist-box {
  color: cyan;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 4px 3px 2px #AB16CE;
  cursor: pointer;
  padding: 6px;

  display: flex;
  gap: 8px;
  align-items: center;
}
.home-playlist-box:hover {
  box-shadow: 0px 0px 4px 2px #AB16CE;
}

.home-users {
  overflow-y: "auto";
  max-height: "80vh";
}

.home-user-box {
  color: cyan;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 4px 3px 2px #AB16CE;
  cursor: pointer;
  padding: 6px;
}

.home-user-box:hover {
  /* filter: drop-shadow(0 0 2em black); */
  box-shadow: 0px 0px 4px 2px #AB16CE;
}

.icon {
  color: black;
  text-align: center;
}


.logo {
  height: 100px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  cursor: pointer;
}

.cred_table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}







.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  padding: 20px;
}

.login-form-container {
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(200, 24, 24, 0.1);
  background-color: #ff9090;
  color: rgb(64, 12, 12);
}

.login-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 200%;
}

.login-form {
  margin-bottom: 15px;
}

.login-button {
  width: 50%;
}

.login-box {
  text-align: left;
  margin-bottom: 5%;
  /* margin-right: 10%; */
}

.login-text-box {
  background-color: rgb(205, 167, 160);
  size: 50%;
  text-align: left;
  margin-left: 10px;
}






.sign-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  padding: 20px;
}

.sign-form-container {
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(200, 24, 24, 0.1);
  background-color: #dbacff;
  color: rgb(51, 8, 153);
}

.sign-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 200%;
}

.sign-form {
  margin-bottom: 15px;
}

.sign-box {
  padding: 3px;
  text-align: left;
}

.sign-text-box {
  text-align: left;
  width: 150px;
  height: 20px;
  margin-left: 10px;
}

.sign-button {
  margin-top: 10px;
}
